@font-face {
  font-family: 'HostGrotesk Regular';
  src: url('HostGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk Bold';
  src: url('HostGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'HostGrotesk Regular', Arial, sans-serif;
  padding: 20px;
  padding-bottom: 30px; 
  background-color: #FFF8E3;
  color: #1070bf;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Grid Backdrop.png');
  background-size: 150px 150px; /* Controlled grid size */
  background-repeat: repeat;
  background-position: top left;
  opacity: 0.15;
  z-index: -1;
}

h1 {
  font-family: 'HostGrotesk Bold', Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-family: 'HostGrotesk Bold', Arial, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 20px;
}

.hover {
  cursor: pointer;
}

p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.2em;
  color: #1070bf;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.divider {
  width: 100%;
  max-width: 1400px; 
  border: none;
  border-top: 1px solid #1070bf; 
  margin: 0 auto; 
}
.carousel {
  background: transparent;
  width: 100%; 
  max-width: 1400px;
  margin: 40px 0 60px 0;
}

.carousel-cell {
  width: 350px; 
  height: 350px; 
  margin-right: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.flickity-viewport {
  height: 350px !important;
}
.carousel-cell img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px;
  display: block; 
}

.flickity-viewport {
  height: 350px !important;
}