@font-face {
  font-family: 'HostGrotesk Regular';
  src: url('HostGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk Bold';
  src: url('HostGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-family: 'HostGrotesk Regular', Arial, sans-serif;
  background-color: #FFF8E3;
  color: #1070bf;
}

h1 {
  font-family: 'HostGrotesk Bold', Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-family: 'HostGrotesk Bold', Arial, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.2em;
  color: #1070bf;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hover {
  cursor: pointer;
}