@font-face {
  font-family: 'HostGrotesk Regular';
  src: url('HostGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk Bold';
  src: url('HostGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  font-family: 'HostGrotesk Regular', Arial, sans-serif;
  padding: 20px;
  background-color: #FFF8E3;
  color: #1070bf;
}

h1 {
  font-family: 'HostGrotesk Bold', Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
}

.hover {
  cursor: pointer;
}

p {
  margin-bottom: 80px;
  font-size: 1.2em;
  color: #1070bf;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.image-container-6 {
  max width: 800px:
}