.circle {
    width: 800px;
    height: 800px;
    background-color: blue;
    border-radius: 50%;
    align-items: center;
}

body {
  text-align: center;
  font-family: 'HostGrotesk Regular', Arial, sans-serif;
  padding: 20px;
  background-color: #FFF8E3;
  color: #1070bf;
}