.circle {
    width: 800px;
    height: 800px;
    display: flex;
    background-color: blue;
    border-radius: 50%;
    circle-hover: pointer;
}

.circle:hover{ 
  transform: scale: (1.1)); 
}

body {
  text-align: center;
  font-family: 'HostGrotesk Regular', Arial, sans-serif;
  padding: 20px;
  background-color: #FFF8E3;
  color: green;
  display:flex;
  justify-content: center;
  align-items: center;
}

